<p>Sign in</p>
<form [formGroup]="form" (ngSubmit)="submit()">

  <mat-card class="info" *ngIf="message" >
    {{message}}
  </mat-card>

  <mat-form-field
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid }"
    color="accent"
    appearance="standard">
    <mat-label>Email</mat-label>
    <label for="email">
      <input formControlName="email" id="email" matInput placeholder="Email">
    </label>
  </mat-form-field>

  <mat-form-field
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid }"
    color="accent"
    appearance="standard">
    <mat-label>Password</mat-label>
    <label for="password">
      <input formControlName="password" [type]="hide ? 'password' : 'text'" id="password" matInput placeholder="Password">
    </label>

    <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

  </mat-form-field>

  <button
    type="submit"
    [disabled]="form.invalid || submitted"
    mat-flat-button
    color="accent"
  >Login</button>
</form>
