p {
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0 0.5rem 0;
}

form {
  width: 500px;
  padding: 1rem;
  margin: 0 auto;
  align-content: center;
  text-decoration: azure !important;
  position: -webkit-sticky;
  position: relative;
  bottom: -450px;
}

mat-form-field{
  display: block !important;
}

button {
  margin-top: 0.5rem;
}

.chat-message {
  border-radius: 1rem;
  border: azure 1.2px solid;
  background-color: rgba(8,17,54,0.84);
  max-width: 210px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.chat {
  background-color: #24273B
}

.my-chat-message {
  position: -webkit-sticky;
  position: static;
  margin-left: 1100px;
}
