
<div class="chat">
  <div
    *ngFor="let userMessage of signalrService.messages"
  >
    <div [ngClass]="isMyMessage(userMessage.username) ? 'my-chat-message' : 'others-chat-message'">
      <div [ngClass]="userMessage.message ? 'chat-message' : ''">
       <strong>{{userMessage.username}}</strong>
       <pre *ngIf="userMessage.message">{{userMessage.message}}</pre>
     </div>
    </div>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" (keydown.enter)="submit()">

  <mat-form-field
    appearance="outline"
    color="accent"
  >
    <mat-label>Message</mat-label>
    <label for="message">
      <textarea matInput formControlName="message" id="message" type="text" placeholder="Message"></textarea>
    </label>
  </mat-form-field>

  <button
    mat-flat-button
    type="submit"
    (keydown.enter)="submit()"
    [disabled]="submitted"
  >Send</button>
</form>



